html {
    font-size: 10px;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
user agent stylesheet
html {
    display: block;
}

section {
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    position: relative;
    background: linear-gradient(45deg, rgb(109, 187, 19), rgb(74, 207, 130), rgb(66, 182, 224), rgb(46, 157, 185));
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 3px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    padding: 5rem 10rem;
    margin: 50rem auto;
}